

  <!-- FLOOR 1 -->
  <div class="floor-section">
    <div class="floor-header">
      <div class="left">
        <span class="chevron">⌄</span>
        <span class="title">FLOOR: 1</span>
      </div>
      <div class="right">10 Rooms — 5 Cleaned, 3 Dirty, 2 Inspect</div>
    </div>

    <div class="rooms-grid">
      <div class="room-card cleaned">
        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
        
      </div>

      <div class="room-card dirty">
        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
        
      </div>
      

      <div class="room-card inspect">
                <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
        
      </div>

      
      <div class="room-card cleaned">
                       <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      <div class="room-card dirty">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      <div class="room-card dirty">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      <div class="room-card cleaned">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
       </div>
    </div>

  <div class="floor-section">
    <div class="floor-header">
      <div class="left">
        <span class="chevron"></span>
      </div>
      <div class="right">8 Rooms — 7 Cleaned, 1 Inspect</div>
    </div>

    <div class="rooms-grid">
      <div class="room-card cleaned">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>
      

      <div class="room-card inspect">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      <div class="rooms-grid">
      <div class="room-card cleaned">
                <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>
     </div>
     </div>
    
  
    <!-- FLOOR 1 -->
      <div class="floor-section">
       <div class="floor-header">
        <div class="left">
        <span class="chevron">⌄</span>
        <span class="title">FLOOR: 1</span>
        </div>
        <div class="right">10 Rooms — 5 Cleaned, 3 Dirty, 2 Inspect</div>
       </div>

    <div class="rooms-grid">
      <div class="room-card cleaned">
                <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      <div class="rooms-grid">
      <div class="room-card cleaned">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      <div class="rooms-grid">
      <div class="room-card cleaned">
                       <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      
      <div class="room-card cleaned">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

<div class="rooms-grid">
      <div class="room-card cleaned">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>

      <div class="rooms-grid">
      <div class="room-card cleaned">
                       <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>


      <div class="room-card inspect">
                        <div class="top">
          <span class="room-no">1200</span>
          <div class="icons">
            <img src="header/arrival1.png" height="15px" width="15px">
            <img src="header/stay1.png" height="15px" width="15px">
            <img src="header/arrival2.png" height="15px" width="15px">
            </div>
        </div>
        <div class="op">Deluxe</div>
        <div class="type">
        <img src="header/guest1.png" height="15px" width="15px">
        <img src="header/nutbolt.png" height="15px" width="15px">
        <img src="header/dnd.png" height="15px" width="15px">
       </div>
      </div>
    </div>
    
</div>

 