body,
html {
  margin: 0;
  padding: 0;
  background-color: #0D1628 !important;
  font-family: 'Inter', sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  
  
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-area {
  padding: 1.25rem 1.625rem; 
  overflow-y: auto;
}

.page-content {
  height: calc(100vh - 72px); 
  overflow-y: auto;
  padding: 16px;
}

.sticky-header {
  position: sticky;
  z-index: 1;
  top: 0;
}

.sticky-tool {
  position: sticky;
  z-index: 1;
  top: 9.9%;
}