<header class="top-header">

  
  <div class="row-1">
    <div class="breadcrumbs">
      <img src="header/arrowleft1.svg" alt="" class="arrow12">
      <span class="crumb">Unicorn Groups</span>
      <span class="sep">/</span>
      <span class="crumb">Radiant Retreat</span>
      <span class="sep">/</span>
      <span class="current">Task Management</span>
    </div>

    <div class="right-icons">
      <div class="logo">
        <img src="header/AuraLogo.svg" >
      </div>

      <div class="chat-icon">
        <div class="logo">
          <img src="header/chat3.svg" >
          </div>
         </div>

      <div class="right-icons">
      <div class="logo">
        <img src="header/chaticon.svg" >
      </div>
      </div>

      <div class="right-icons">
      <div class="logo">
        <img src="header/menubar1.svg" >
      </div>
      </div>
      

    </div>
  </div>

  

</header>
