

/* PRIME TOOLBAR HEADER */
.top-header-toolbar {
  background: linear-gradient(180deg, #0b1424, #0d1628);
  padding: 1rem .01rem !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  flex:0 0 auto;
  border-radius: unset !important;
  
}


:host ::ng-deep .p-toolbar {
 
  border: none;
  padding: 0;
}

/* LEFT SIDE */
.toolbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #fff;
  margin-left: 0.50rem;
}

.arrow12 {
  margin-right: 0.5rem;
}

/* BREADCRUMBS */
.crumb {
  font-size: 1.4rem;
  color: #ffffff80;
  font-weight: 500;
  cursor: pointer;
}

.current {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}

.sep {
  color: #ffffff60;
}

/* RIGHT SIDE */
.toolbar-right {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  margin-right: 1.4rem;
}

/* ICON IMAGES */
.icon-img {
  height: 2.25rem;
  width: auto;
  cursor: pointer;
}

/* CHAT BADGE */
.chat-icon {
  position: relative;
}



/* RESPONSIVE */
@media (max-width: 1024px) {
  .top-header-toolbar {
    padding: 0.875rem 1.25rem;
  }
}

@media (max-width: 768px) {
  .top-header-toolbar {
    padding: 0.75rem 1rem;
  }

  .crumb {
    display: none;
  }
}

@media (max-width: 480px) {
  .top-header-toolbar {
    padding: 0.625rem 0.75rem;
  }
}
