<header class="top-header">

  <!-- ROW 1 — Breadcrumbs + Right Icons -->
  <div class="row-1">
    <div class="breadcrumbs">
      <span class="back-arrow">←</span>
      <span class="crumb">Unicorn Groups</span>
      <span class="sep">/</span>
      <span class="crumb">Radiant Retreat</span>
      <span class="sep">/</span>
      <span class="current">Task Management</span>
    </div>

    <div class="right-icons">
      <div class="logo">
        <img src="header/aura.png" >
      </div>

      <div class="chat-icon">
        <div class="logo">
          <img src="header/chat3.png" >
          </div>
         </div>

      <div class="right-icons">
      <div class="logo">
        <img src="header/bell.png" >
      </div>
      </div>

      <div class="right-icons">
      <div class="logo">
        <img src="header/setting.png" >
      </div>
      </div>
      

    </div>
  </div>

  

</header>
