<!-- <header class="top-header">
  
</div> -->    


<p-toolbar class="top-header-toolbar">
  <!-- LEFT -->
  <ng-template pTemplate="start">
    <div class="toolbar-left">
      <img src="header/arrowleft1.svg" class="arrow12" />

      <span class="crumb">Unicorn Groups</span>
      <span class="sep">/</span>
      <span class="crumb">Radiant Retreat</span>
      <span class="sep">/</span>
      <span class="current">Task Management</span>
    </div>
  </ng-template>

  <!-- RIGHT -->
  <ng-template pTemplate="end">
    <div class="toolbar-right">
      <img src="header/AuraLogo.svg" class="icon-img" />

      <div class="chat-icon">
        <img src="header/chat3.svg" class="icon-img" />
        
      </div>

      <img src="header/chaticon.svg" class="icon-img" />
      <img src="header/menubar1.svg" class="icon-img" />
    </div>
  </ng-template>
</p-toolbar>














