<section class="property-overview">

  <!-- TOP TITLE + CONTROLS -->
  <div class="property-header">
    <h2>Property Overview</h2>

    <div class="header-actions">
      <button class="tab">Overview</button>
      <button class="tab active">Chart View</button>

      <div class="search">
        <span>🔍</span>
        <input type="text" placeholder="Search" />
        
      </div>

      <button class="pill">25 October 2024</button>
      <button class="pill"><img src="header/filter.png" > Filters</button>
      <button class="auto">Auto Assign <img src="header/star.png" > </button>
    </div>
  </div>

  <!-- MAIN CARD -->
  <div class="overview-card">

    <div class="overview-row">

      <!-- PROGRESS CARD -->
      <div class="progress-card">
        <div class="progress-bar">
          <div class="seg dirty" style="width:20%">20%</div>
          <div class="seg In progress" style="width:14%">14%</div>
          <div class="seg cleaned" style="width:52%">52%</div>
          <div class="seg inspect" style="width:10%">10%</div>
          <div class="seg order" style="width:3%">3%</div>
          <div class="seg service" style="width:1%">1%</div>
        </div>

        <div class="legend">
          <span><i class="dirty"></i> Dirty</span>
          <span><i class="progress"></i> In Progress</span>
          <span><i class="cleaned"></i> Cleaned</span>

      
          <span><i class="inspect"></i> Inspect</span>
          <span><i class="service"></i> Out of Service</span>
          <span><i class="order"></i> Out of Order</span>
        </div>
      </div>
<div class="stat-card occupancy-card">
  <div class="stat-text">
    <div class="stat-title">Occupancy</div>
    <div class="stat-value">
      232 <span>/ 290</span>
    </div>
  </div>

  <div class="progress-ring">
    <svg width="64" height="64">
      <circle class="bg" cx="32" cy="32" r="26"></circle>
      <circle class="progress" cx="32" cy="32" r="26"></circle>
    </svg>
    <div class="progress-text">25%</div>
  </div>
</div>


      <!-- ARRIVAL -->
      <div class="stat-card">
        <div class="stat-header">
           <span class="stat-title">Arrival</span>
           <span class="stat-icon"><img src="header/arrival.png" alt=""></span>
      </div>

          <h3>42</h3>
        <small class="green">+2.0% From last week</small>
        
        
      </div>

      <!-- DEPARTURE -->
      <div class="stat-card">
        <div class="stat-header">
           <span class="stat-title">Departure</span>
        <span class="stat-icon"><img src="header/departure.png" alt=""></span>
        </div>
        <h3>42</h3>
        <small class="red">-2.1% From last week</small>
      </div>

      <!-- GUEST REQUEST -->
      <div class="stat-card">
       <div class="stat-header">
           <span class="stat-title">Guest Request</span>
        <span class="stat-icon"><img src="header/guest.png" alt=""></span>
        </div>
        <h3>42</h3>
        <small class="green">4.5 min Avg. service time</small>
      </div>

    </div>

  </div>

</section>
