<aside class="sidebar">
  <img src="header/sidebar1.png" alt="" height="100%">
  <!-- <div class="logo">
    <span class="logo-text">
      <img src="header/upswing.png" class="up">
    </span>
  </div>

  <nav class="menu">
    <div class="menu-item active"><span class="icon">🏠</span></div>
    <div class="menu-item"><span class="icon">📊</span></div>
    <div class="menu-item"><span class="icon">🧹</span></div>
    <div class="menu-item"><span class="icon">📦</span></div>
    <div class="menu-item"><span class="icon">⚙️</span></div>
  </nav>

  <div class="avatar">
    <img src="https://i.pravatar.cc/100" />
  </div> -->
</aside>
