

 html,body {
  margin: 0;
  padding: 0;
  background-color: #0D1628 !important;
  font-family: 'Inter', sans-serif;
  height:100%;
  overflow: hidden;
  width: 101%;
}
  
 


.layout,
.main-area,
.content-area,
.property-overview {
  max-width: 100%;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
}
.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.property-overview,
.top-header
 {
  flex: 0 0 auto !important;
}

